manifest {
  name = 'codingene/nextflow-base'
  author = 'Sangram Kesahri Sahu' 
  homePage = 'http://codingene.github.io/nextflow-base'
  description = 'Basic Nextflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.1.0'
}

profiles {
  standard {
    process.container = 'codingene/nextflow-base:0.1.0'
  }
  
  slurm {
    process.container = 'codingene/nextflow-base:0.1.0'
    process.executor = 'slurm'
    singularity.enabled = true
  }

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}

mail {
    smtp.host = 'smtp.gmail.com'
    smtp.port = 487
    smtp.user = 'sangram'
}