manifest {
  description = 'Basic Nextflow' 
  author = 'Sangram Kesahri Sahu'
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    process.container = 'codingene/nextflow-base:latest'
  }
  
  slurm {
    process.container = 'codingene/nextflow-base:latest'
    process.executor = 'slurm'
    singularity.enabled = true
  }

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}

mail {
    smtp.host = 'smtp.gmail.com'
    smtp.port = 487
    smtp.user = 'sangram'
}