/*
 * --------------------------------------------------------------------
 *  Nextflow config settings
 * --------------------------------------------------------------------
 */

manifest {
  name = 'codingene/nextflow-base'
  author = 'Sangram Kesahri Sahu' 
  homePage = 'http://codingene.github.io/nextflow-base'
  description = 'Basic Nextflow Structure'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.1.0'
}

// default workflow params //

params {
  help = false

  // mandatory
  reads = null
  transcriptome = null
  outdir = results

  //fastp params
  fastp {
    length_required = 75
    length_limit = 151
    qualified_quality_phred = 30
  }

  // system setting
  max_cpus = 1
  max_memory = '2 GB'
  max_time = '1h'

  email = false
}

// default workflow container //
process.container = 'codingene/nextflow-base:latest'

// default profile cofigurations //
profiles {
  docker {
    docker {
      enabled = true
      fixOwnership = true
      runOptions = "-u \$(id -u):\$(id -g)"
    }
    singularity.enabled = false
  }
  singularity {
    docker.enabled = false
    singularity.autoMounts = true
    singularity.enabled = true
  }
  conda { process.conda = "$baseDir/envs/main.yml" }  
  test { includeConfig 'configs/test.config' }
}
conda.cacheDir = "$HOME/.nextflow/conda"

// Capture exit codes from upstream processes when piping //
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Email Notifications //
mail {
    smtp.host = 'smtp.gmail.com'
    smtp.port = 487
    smtp.user = 'sangram'
}
